.background-small
{
  background-image: url(../img/ban.jpg);
  background-size: cover;
  height: 400px;
  width: 100%;
}

.after-nav
{
  padding-top: 30px;
}

.navbar
{
  margin: 0px !important;
}


h2
{
  text-align: center;
}
